{% extends 'base.html.twig' %}

{% block title %}Hello MatieresController!{% endblock %}

{% block body %}
 


{{ form (form) }}
<a href="{{ path('deletem',{'id': matiere.id})}}">  Remove </a>  





{% endblock %}

